<div class='form-container'>
    <div class='header-container'>
        {{ formContent.header }}
    </div>

    <div class="questionaire-container">
        <div *ngFor='let question of formContent.questions'>
            <div [ngSwitch]='question.inputType'> 

                <div *ngSwitchCase="'cascading'">
                    <div *ngFor='let subQuestion of question.questionsList' >    
                        <div class='question-container'>
                            <div class='label-container'>
                                <label for={{question.tag}}>{{subQuestion.label}}</label>
                            </div>
                            <div class='response-container'>
                                <select id={{question.inputID}} name={{question.tag}} required>
                                    <option *ngFor='let option of subQuestion.dropDownOptions' value="option">
                                        {{option}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngSwitchDefault>
                    <app-simple-question [question]='question'></app-simple-question>
                </div>
                
            </div>
        </div>
    </div>
    <div class='form-navigation-container'>
        <button style='background-color: blue; color: white;' (click)='nextForm()'>Next</button>
    </div>
</div>