<div class='form-container'>
    <!-- Header -->
    <div class='header-container'>
        {{ formContent.header }}
    </div>
    <!-- Questions  -->
    <div class="questionaire-container">
        <div *ngFor='let question of formContent.questions'>
            <div [ngSwitch]='question.inputType'> 
                <app-cascade-question *ngSwitchCase="'cascading'" [question]='question'></app-cascade-question>
                <app-simple-question *ngSwitchDefault [question]='question'></app-simple-question>
            </div>
        </div>
    </div>
    <!-- Navigation  -->
    <div class='form-navigation-container'>
        <button style='background-color: blue; color: white;' (click)='nextForm()'>Next</button>
    </div>

</div>