<header>
  <div class="title">
    <p>You built your business from the ground up</p>
    <h1>Now see what it is worth</h1>
  </div>
</header>

<main class='info-card-container'>
  <div class="info-card">
    <h2>About Valor</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis,
      labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas
      ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos
      vero hic!
    </p>
  </div>
  <div class="info-card">
    <h2>About Valor</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis,
      labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas
      ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos
      vero hic!
    </p>
  </div>
</main>
