<header>
  <div class="title">
    <p>You built your business from the ground up</p>
    <h1>Now see what it is worth</h1>
  </div>
</header>

<main class='info-card-container'>
  <div class="info-card">
    <h2>Displayed Desktop<br>Valuations</h2>
    <p>
      About Displayed Desktop Valuations
    </p>
  </div>
  <div class="info-card">
    <h2>Reported Desktop<br>Valuations</h2>
    <p>
      About Reported Desktop Valuations
    </p>
  </div>
  <div class="info-card">
    <h2>Full Valuations</h2>
    <p>
      About Full Valuations
    </p>
  </div>
  <div class="info-card">
    <h2>Continous Valuations</h2>
    <p>
      About Continous Valuations
    </p>
  </div>
</main>
