<header>
  <div class="title">
    <p class="title-text-small">You built your business from the ground up</p>
    <p class="title-text-large">Now see its worth</p>
  </div>
</header>

<main class="info-card-container">
  <div class="info-card">
    <p class="info-card-header">Value Estimates</p>
    <div class="info-card-button">
      <button class="info-card-button">Get an Estimate now</button>
    </div>
    <p>About Value Estimates</p>
  </div>
  <div class="info-card">
    <p class="info-card-header">Desktop Valuations</p>
    <div class="info-card-button">
      <button class="info-card-button">Start your Desktop Valuation now</button>
    </div>
    <p>About Desktop Valuations</p>
  </div>
  <div class="info-card">
    <p class="info-card-header">Full Valuations</p>
    <div class="info-card-button">
      <button class="info-card-button">Start your Desktop Valuation now</button>
    </div>
    <p>About Full Valuations</p>
  </div>
  <div class="info-card">
    <p class="info-card-header">Valor Continuous Valuations</p>
    <div class="info-card-button">
      <button class="info-card-button">Set up your VCV profile</button>
    </div>
    <p>About Continuous Valuations</p>
  </div>
</main>
