<div class='request-container'> 
    Please enter the basic details of the business for which you would like an estimate
</div>
<div class="form-container">
    <div>    
        <label for="bus-name">Business name:</label>
        <input type="text" id="bus-name" name="bus-name">
    </div>
    <div>
        <label for="bus-name">Entity type:</label>
        <input type="text" id="bus-name" name="bus-name">
    </div>
    <div>    
        <label for="bus-name">Year of first financial year end:</label>
        <input type="text" id="bus-name" name="bus-name">
    </div>
</div>
