.request-container {
    flex-grow: 1;
    flex: 1;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    text-decoration: solid;
    font-weight: bold;
}

.form-container:not(.input-container){
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex: 1;
    margin: 20px;
    margin-right: 5%;

}

.form-container div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.form-container label {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    min-width: 250px;
    font-size: 16px
}

.form-container select {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    min-width: 250px;
    height: 24px;
    font-size: 16px;
    background-color: lightblue;
}

.form-container input:not(.small-input) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex: 1;
    background-color: lightblue;
    border: 0;
    height: 24px;
    font-size: 16px;
    min-width: 320px;
}

.small-input {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border: 0;
    height: 24px;
    font-size: 16px;
    max-width: 100px;
    min-width: 0;    
}

.input-container {
    /* display: flex;
    flex-wrap: wrap; */
    width: 0px;
    min-width: 320px;

}

@media only screen and (max-width: 800px) {
    .form-container label {
        width: 45%;
    }
    
    .form-container input {
        width: 45%;
    }
  }

  @media only screen and (max-width: 360px) {
    .form-container{
        margin: 5px;
        margin-right: 0%;
    
    }
  }