<div class='request-container'> 
    Basic Business Details
</div>
<div class="form-container">
    <div>
        <label for="bus-name">Business name:</label>
        <input type="text" id="bus-name" name="bus-name">
    </div>
    <div>
        <label for="entity-type">Entity type:</label>
        <select name="entity-type" id="entity-type" required>
            <option value="">- Please select-</option>
            <!-- complete with loop -->
          </select>
    </div>
    <div>    
        <label for="f-yeat">Year of first financial year end:</label>
        <!-- <div class="input-container">         -->
        <input class="small-input" type="text" id="f-yeat" name="f-yeat">
        <!-- </div> -->

    </div>
</div>
