/* Full screen with responsiveness */

.form-container {
    /* background-color: red; */
    margin: 0 10%;
}

.header-container {
    flex-grow: 1;
    flex: 1;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    text-decoration: solid;
    font-weight: bold;
}

.questionaire-container {
    /* background-color: blue; */
    padding: 10px
}

.question-container {
    /* background-color:darkgreen; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px
}

.label-container {
    /* background-color:yellow; */
    display: flex;
    flex:0;
    flex-wrap: wrap;
    width: 50%;
    min-width: 250px;
    padding: 5px;
}

.response-container {
    /* background-color: lime; */
    display: flex;
    flex:1;
    flex-wrap: wrap;
    min-width: 320px;
    padding: 2px;
}

.form-navigation-container {
    /* background-color: lime; */
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
}

/* Styling require for input elements */

label, input, select, button {
    font-size: 18px;
    border: none;
}

button {
    align-items: flex-end;
    height: 36px;
    width: 72px;

}

input, select {
    background-color: aqua;
}

input {
    width:100%;
}

label {
    font-weight: bold;
}

select {
    min-width: 290px;
}

.short-text {
    max-width: 100px;
}

/* Special media queries*/
@media only screen and (max-width: 1024px) {
    .form-container {
        margin: 5%
    }
  }

@media only screen and (max-width: 700px) {
.form-container {
    margin: 0%
}
}