<div class="sidenav-container">
  <mat-sidenav-container >

    <mat-sidenav
      class="sidenav"
      #sidenav
      mode="side"
      [(opened)]="isShown"
      (opened)="isShown = true"
      (closed)="isShown = false"
    >
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content style='background-color: white;'>
        <button mat-button class="toggleButton"  (click)="sidenav.toggle()">
          <img *ngIf="isShown" src="../../../assets/icons/arrow-left.png" />
          <img *ngIf="!isShown" src="../../../assets/icons/arrow-right.png" />
        </button>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
