.workspace-container {
    display: flex;
    flex-grow: 1;
}

.form-container {
    display: flex; 
    flex-grow: 1;
}

@media screen and (max-width: 1000px) {
    .sidedraw-container {
        display: none;
    }
}